		body{
		background-color: grey;
		}
		#title{
			text-align: center;
		}
		#in{
			background-color: black;
			color: white;
			text-align: center;
			height: 30vh;
			padding-top: 5%;
			margin-left: 7%;
			margin-right: 7%

		}
		#noteIn{
			width: 80%;
			align-content:  center;
			height: 5vh;
			margin-bottom: 3%


		}
		#note{
			background-color: white;
			color: black;
			height: 30vh;
			padding-top: 7%;
			margin-left: 7%;
			margin-right: 7%
		}