<!DOCTYPE html>
<html>
<head>
	<title>Note For You</title>
	<link rel="stylesheet" type="text/css" href="../public/css/style.css">
</head>
<body>
	<div id="title">
	<h1>Hey There!I'm here to take your Notes</h1>
	</div>
	<div id="in">
		<form method="post" action="/Notes">
		<H3>Add Your Notes Here</H3>
		<input type="text" rows="2" name="note" id="noteIn"><br>
		<input type="Submit" name="addNote" value="Submit">
		</form>
	</div> 

	<ul class="Notes">
		  <% for(var i=0; i<Notes.length; i++) {%>
		    <li class="note">
		      <span><%= Notes[i].note %></span>
		    </li>
		  <% } %>
 	</ul>



</body>
</html>